@media all and (max-width: 880px) {
  nav {
    display: none;
  }
}

@media all and (max-width: 600px){
  .hero-content-wrapper{
    width: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
}
