@media all and (max-width: 1585px) {
  .benifits-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: calc(var(--margin-default) + 10%);
    margin-right: var(--margin-default);
  }

  .card {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 1296px) {
  .grid {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0;
    margin-left: calc(var(--margin-default) + 22%);
    margin-right: var(--margin-default);
  }

  .benifits-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: calc(var(--margin-default) + 10%);
    margin-right: var(--margin-default);
  }

  .map-info-container {
    top: 750%;
    padding-right: 8%;
  }
}

@media all and (max-width: 1128px) {
  .benifits-grid {
    grid-template-columns: 0;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: calc(var(--margin-default) + 22%);
    margin-right: var(--margin-default);
  }

  .map-info-container {
    top: 1110%;
    padding-right: 14%;
    margin-left: 0;
    width: 25%;
  }
}

@media all and (max-width: 1024px) {
  .covid-warning-text {
    margin-left: 50px;
  }

  .map-info-container {
    flex-direction: column;
    padding-right: 2%;
    top: 1095%;
  }

  .contact-us-buttons-container{
    margin-bottom: 2rem;
  }

  .address-container{
    padding: 0 0.5rem 0 0.5rem;
  }

}

@media all and (max-width: 994px) {
  #pricing-plan-card-scaled {
    margin-bottom: 4rem;
  }

  .map-info-container{
    top: 1190%;
  }
}

@media all and (max-width: 880px) {
  nav {
    display: none;
  }

  .contact-us-buttons-container{
    flex-direction: column;
  }

  .map-info-container{
    top: 1182.5%;
  }
}

@media all and (max-width: 768px) {
  .grid {
    margin-left: calc(var(--margin-default) + 15%);
    margin-right: var(--margin-default);
  }

  .map-info-container p{
    font-size: 0.8rem;
  }

  .map-info-container{
    top: 1188%;
  }
}

@media all and (max-width: 560px) {
  .grid {
    margin-left: calc(var(--margin-default) + 5%);
    margin-right: var(--margin-default);
  }

  .pricing-plan-card-container {
    margin-left: calc(var(--margin-default) + 8%);
    margin-right: var(--margin-default);
  }

  .hero-content-wrapper {
    text-align: center;
    margin-top: 25vh;
  }

  .page-title {
    font-size: 50px;
    letter-spacing: 0.3rem;
    line-height: 45px;
    margin-right: var(--margin-default);
  }

  .page-subtitle {
    font-size: 15px;
    margin-right: var(--margin-default);
    line-height: 25px;
  }

  .hero-button {
    margin-right: var(--margin-default);
  }

  .map-info-container p{
    display: none;
  }

  .map-info-container .address-container p{
    display: block;
  }

  .map-info-container{
    top: 1215%;
    padding: 10%;
  }
}
